/* 
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* fonte primária */
.font-0-xxl {
  font: 600 6.4rem/1.125 "poppins", sans-serif;
}

.font-0-xl {
  font: 600 3.2rem/1.25 "poppins", sans-serif;
}

.font-0-lg {
  font: 400 2.4rem/1.5 "poppins", sans-serif;
}

.font-0-md-b {
  font: 600 1.8rem/1.333 "poppins", sans-serif;
}

.font-0-md {
  font: 400 1.8rem/1.333 "poppins", sans-serif;
}

.font-0-sm {
  font: 400 1.6rem/1.5 "poppins", sans-serif;
}

.font-0-xs {
  font: 600 1.2rem/1.333 "poppins", sans-serif;
}

/* fonte secundária */
.font-1-lg-b {
  font: 500 2.4rem/1.5 "roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.015em;
}

.font-1-lg {
  font: 400 2.4rem/1.5 "roboto", sans-serif;
}

.font-1-md {
  font: 500 1.8rem/1.333 "roboto", sans-serif;
}

.font-1-sm {
  font: 400 1.6rem/1.5 "roboto", sans-serif;
}

.font-1-xs {
  font: 400 1.4rem/1.428 "roboto", sans-serif;
}

@media (max-width: 1200px) {
  .font-0-xxl {
    font-size: 4.8rem;
  }
  .font-1-lg {
    font-size: 1.8rem;
  }
  .font-0-xl {
    font-size: 2.4rem;
  }
  .depoimento .font-0-xl {
    font-size: 2.8rem;
  }
}

@media (max-width: 800px) {
  .font-0-xxl {
    font-size: 3.2rem;
  }
  .font-1-lg-b {
    font-size: 2.4rem;
  }
  .depoimento .font-0-xl {
    font-size: 2.4rem;
  }
}

@media (max-width: 600px) {
  .font-0-md {
    font-size: 1.4rem;
  }
}
