.font-0-xxl {
  font: 600 6.4rem/1.125 "poppins", sans-serif;
}

.font-0-md {
  font: 400 1.8rem/1.333 "poppins", sans-serif;
}

.font-1-lg {
  font: 400 2.4rem/1.5 "roboto", sans-serif;
}

@media (max-width: 1200px) {
  .font-0-xxl {
    font-size: 4.8rem;
  }
  .font-1-lg {
    font-size: 1.8rem;
  }
}

@media (max-width: 800px) {
  .font-0-xxl {
    font-size: 3.2rem;
  }
}

@media (max-width: 600px) {
  .font-0-md {
    font-size: 1.4rem;
  }
}
