.header-bg {
  background: var(--cor-12);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

header .logo {
  display: inline-block;
  display: block;
}

.header-navegacao {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-navegacao a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-navegacao a:after {
  content: "";
  background: var(--cor-0);
  height: 2px;
  width: 0px;
  display: block;
  transition: 300ms;
  position: absolute;
}

.header-navegacao a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-navegacao a {
    background: var(--cor-11);
    padding: 12px 16px;
    border-radius: 5px;
  }
  .header-navegacao {
    gap: 20px;
  }
  .header-navegacao a:hover {
    background: var(--cor-10);
  }
  .header-navegacao a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-navegacao a {
    padding: 8px 12px;
  }
  .header-navegacao {
    gap: 12px;
  }
}
