.parceiros {
  padding-bottom: 120px;
}
.parceiros h2 {
  margin-bottom: 48px;
}

.parceiros-lista {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1400px;
  padding: 0px 20px;
  margin: 0px auto;
}
.parceiros-lista li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.parceiros-lista li:nth-child(1n + 5) {
  border-top: 2px solid var(--cor-2);
}
.parceiros-lista li {
  border-right: 2px solid var(--cor-2);
}
.parceiros-lista li:nth-child(4n + 4) {
  border-right: none;
}
.parceiros-lista li {
  padding: 32px;
}
.parceiros-lista li img {
  max-width: 100%;
}

@media (max-width: 800px) {
  .parceiros {
    padding-bottom: 60px;
  }
  .parceiros h2 {
    margin-top: 60px;
    margin-bottom: 16px;
  }
  .parceiros-lista {
    grid-template-columns: 1fr 1fr;
  }
  .parceiros-lista li:nth-child(2n) {
    border-right: none;
  }
  .parceiros-lista li:nth-child(n + 3) {
    border-top: 2px solid var(--cor-2);
  }
}
